# ------------------------------ [ Docker Ignore ] ------------------------------
# [ Location ]: .dockerignore
# [ Purpose  ]: To exclude paths from the build context to optimize image size.
# -------------------------------------------------------------------------------

# -------------------------- [ Dependency Management ] --------------------------
node_modules/
.pnpm-store/

# --------------------------- [ Environment Secrets ] ---------------------------
.env
.env.*
!.env.example

# --------------------------- [ Development Caches ] ----------------------------
.tanstack/

# ---------------------------- [ Developer Tools ] ------------------------------
.devcontainer/
.vscode/

# ----------------------------- [ Version Control ] -----------------------------
.git/

# ------------------------------ [ System Files ] -------------------------------
.DS_Store