# ----------------------------- [ Untracked Paths ] -----------------------------
# [ Location ]: ~/.gitignore
# [ Purpose  ]: To exclude paths from being tracked by Git (version control).
# -------------------------------------------------------------------------------

# -------------------------- [ Dependency Management ] --------------------------
node_modules/
.pnpm-store/

# --------------------------- [ Environment Secrets ] ---------------------------
.env
.env.*
!.env.example

# --------------------------- [ Development Caches ] ----------------------------
.tanstack/

# --------------------------- [ Production Builds ] -----------------------------
.output/

# ------------------------------ [ System Files ] -------------------------------
.DS_Store